includes:
	- Packages/Libraries/jangregor/phpstan-prophecy/extension.neon
parameters:
	bootstrapFiles:
		- Packages/Framework/Neos.Flow/Tests/BaseTestCase.php
		- Packages/Framework/Neos.Flow/Tests/UnitTestCase.php
		- Packages/Framework/Neos.Flow/Tests/FunctionalTestCase.php
		- phpstan.bootstrap.php