name: CI
on: [push, pull_request]
jobs:

  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install node modules
        run: yarn
      - name: Bootstrap Lerna
        run: yarn lerna bootstrap
      - name: Run build
        run: yarn build
      - name: Run test
        run: yarn test
